html {
  background: #0d0d0d;
}

/* Dropdown Button */
.dropbtn {
  background-color: #ed8c92;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 5px;
  right: 5px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  top: 55px;
  right: 172px;
  position: fixed;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/* Gillian's changes to the general css */
body {
  margin: 50px;
  /* filler for font family */
  font-family: sans-serif;
}

p, figcaption {
  font-size: 20px;
}

li {
  font-size: 18px;
}

h1, h2, h3, h4{
  font-style: oblique;
  text-shadow: 2px 2px white;
}
/* end of Gillian's changes to the css */

/* Elena's changes to flags */
.flag {
  width: 250px;
  height: 180px;
}

.img_wrap {
  position: relative;
  width: 250px;
  height: 180px;
}

.img_description{
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  visibility: hidden;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #323332;
  top: 35%;
  text-shadow: 3px 3px black;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .img_description {
  visibility: visible;
  opacity: 1;
}


/* map shit */
.mapdiv :hover{
    fill:#FF606A;
}




.mapdiv path{
  fill: #ADFFB4;
  stroke: black;
}

#CA,#HI,#OR,#NV,#WA,#NM,#AZ,#HI,#AK,#MT,#WY,#SD,#WI,#MN,#KS,#NE,#AR,#IA,#IN,#ME,#MA,#VT,#RI,#CT,#NJ,#NH,#NY,#PA,#DA,#MD,#DC,#DE,#CO{
  fill:black;
}



/* GILLIAN'S TOPIC 3 CSS START */
/* colors of the panels for section 3, display is default invisible */
/* alternating colors for flip1, flip3, flip5, and flip2, flip4, flip6 */
/* alternating colors for section 3, colored in blue */
figcaption, figcaption p {
  padding-top: 10px;
  text-decoration: underline overline;
  text-decoration-style: dotted;
  text-decoration-color: #11a2bf;
}

#topic3 {
  background-color: #fff9e6;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 50px;
  box-shadow: 8px 10px #ffd1f4;
  border: 5px solid #bfe0ff;
  height: 5320px;
}

.quote {
  font-size: 120%;
}

.underlineoverline {
  text-decoration: underline overline #fcba03;
  font-size: 150%;
}

/* styles the hyperlinks so that there is no underline */
#link1:link, #link2:link, #link3:link, #link4:link, #link5:link, #link6:link{
  text-decoration: none;
}

/* changes the background color of the panel buttons when hovering over them */
#flip1:hover, #flip3:hover,  #flip5:hover {
  background-color: #ed8c92;
  font-size: 110%;
  overflow: hidden;
}
#flip2:hover, #flip4:hover, #flip6:hover {
  background-color: #a1ffad;
  font-size: 110%;
  overflow: hidden;
}

/* css for the information located under the panels */
#flip1, #flip3, #flip5 {
  transition-duration: .8s;
  font-size: 16px;
  text-shadow: 2px 2px #0dbfb4;
  padding: 10px;
  text-align: center;
  background-color: #8cede7;
  color: white;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* alternating colors for section 3, colored in pink */
#flip2, #flip4, #flip6 {
  transition-duration: .5s;
  font-size: 16px;
  text-shadow: 2px 2px #ff00dc;
  padding: 10px;
  text-align: center;
  background-color: #ffa1f2;
  color: white;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* information within each flip header */
#panel1, #panel3, #panel5 {
  display: none;
  background-color: #defffd;
  padding:30px;
}

/* style h3 headings under panel 1, 3, 5 */
#panel1 h3, #panel3 h3, #panel5 h3 {
  text-shadow: 2px 2px #ffa1f2;
}
/* unvisited links under panel 1, 3, 5 */
#panel1 a:link, #panel3 a:link, #panel5 a:link {
  color: #ff9d6b;
}

/* visited links under panel 1, 3, 5 */
#panel1 a:visited, #panel3 a:visited, #panel5 a:visited {
  color: #e15eff;
}

/* mouse over link */
#panel1 a:hover, #panel3 a:hover, #panel5 a:hover {
  color: hotpink;
}

/* selected link */
#panel1 a:active, #panel3 a:active, #panel5 a:active {
  color: #c5ffb0;
}

#panel2, #panel4, #panel6 {
  display: none;
  background-color: #ffe0fb;
  padding: 30px;
}

/* unvisited links under panel 2, 4, 6 */
#panel2 a:link, #panel4 a:link, #panel6 a:link {
  color: #ff9d6b;
}

/* visited links under panel 2, 4, 6 */
#panel2 a:visited, #panel4 a:visited, #panel6 a:visited {
  color: #5eb1ff;
}

/* mouse over link */
#panel2 a:hover, #panel4 a:hover, #panel6 a:hover {
  color: #1ce8ff;
}

/* selected link */
#panel2 a:active, #panel4 a:active, #panel6 a:active {
  color: #fff6a6;
}

#panel2 h2, #panel4 h2, #panel6 h2 {
  text-shadow: 2px 2px #6ff7ee;
}

#panel2 h3, #panel4 h3, #panel6 h3 {
  text-shadow: 2px 2px #ffb700;
  font-size: 130%;
}

/* center images */
#topic3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 8px 10px #bfe0ff;
}

/* unvisited links under panel #learnmore */
#learnmore a:link{
  color: #ff9d6b;
}

/* visited links under panel #learnmore */
#learnmore a:visited {
  color: #5eb1ff;
}

/* mouse over link #learnmore*/
#learnmore a:hover {
  color: #1ce8ff;
}

/* selected link */
#learnmore a:active {
  color: #fff6a6;
}


/* look up tooltip */
/* GILLIAN'S TOPIC 3 CSS END */

/* styles each of the sections */
html {
  scroll-behavior: smooth;
}



#topic0 {
  height: 600px;
  background-color: tan;
  padding: 15px;
}

#topic1 {
  height: 2000px;
  background-color: pink;
  padding: 15px;
}

#topic2 {
  height: auto;
  background-color: yellow;
  padding: 15px;
}

/* #topic3 {
  height: auto;
  background-color: orange;
  padding: 15px;
} */

#topic4 {
  background-color: teal;
  padding: 40px;
  margin-bottom: 20px;
  box-shadow: 8px 10px green;
  outline: 5px solid yellow;
}

#topic5 {
  height: 600px;
  background-color: pink;
  padding: 15px;
}

/*Topic 4 Slideshow css*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
