/* Gillian's changes to the css */
body {
  margin: 50px;
  /* filler for font family */
  font-family: sans-serif;
}

p {
  font-size: 20px;
}

h2, h3{
  font-style: oblique;
}
/* end of Gillian's changes to the css */

/* map shit */
.mapdiv :hover{
    fill:#FF606A;
}



.mapdiv path{
  fill: #ADFFB4;
  stroke: black;
}

#CA,#OR,#NV,#WA,#NM,#AZ,#HI,#AK,#MT,#WY,#SD,#WI,#MN,#KS,#NE,#AR,#IA,#IN,#ME,#MA,#VT,#RI,#CT,#NJ,#NH,#NY,#PA,#DA,#MD,#DC,#DE,#CO{
  fill:black;
}





/* colors of the panels for section 3, display is default invisible */
/* alternating colors for flip1, flip3, flip5, and flip2, flip4, flip6 */
/* alternating colors for section 3, colored in blue */
#flip1:hover, #flip3:hover,  #flip5:hover {
  background-color: #ed8c92;
}
#flip2:hover, #flip4:hover, #flip6:hover {
  background-color: #a1ffad;
}
#flip1, #flip3, #flip5 {
  transition-duration: .5s;
  font-size: 16px;
  text-shadow: 2px 2px #0dbfb4;
  padding: 10px;
  text-align: center;
  background-color: #8cede7;
  color: white;
  border: solid 1px #a6d8a8;
  margin: auto;
}

/* alternating colors for section 3, colored in pink */
#flip2, #flip4, #flip6 {
  transition-duration: .5s;
  font-size: 16px;
  text-shadow: 2px 2px #ff00dc;
  padding: 10px;
  text-align: center;
  background-color: #ffa1f2;
  color: white;
  border: solid 1px #a6d8a8;
  margin: auto;

}

/* information within each flip header */
#panel1, #panel3, #panel5 {
  display: none;
  background-color: #a1ffad;
}

#panel2, #panel4, #panel6 {
  display: none;
  background-color: #ed8c92;
}

/* styles each of the sections */
html {
  scroll-behavior: smooth;
}

#topic0 {
  height: 600px;
  background-color: tan;
}


#topic1 {
  height: 2000px;
  background-color: pink;
}

#topic2 {
  height: 600px;
  background-color: yellow;
}

#topic3 {
  height: 600px;
  background-color: orange;
}

#topic4 {
  height: 600px;
  background-color: green;
}

#topic5 {
  height: 600px;
  background-color: blue;
}

#topic6 {
  height: 900px;
  background-color: teal;
}

#topic7 {
  height: 900px;
  background-color: pink;
}
